/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto slab' 'Droid Sans', sans-serif;
}
/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1{
    font: bold 4.236rem 'Roboto slab','Book Antiqua', 'Palatino', 'Droid Serif', serif;
}
h2{
    font: bold 2.618rem 'Roboto slab','Book Antiqua', 'Palatino', 'Droid Serif', serif;
}
li, p, a{
    font: 1.18rem 'Roboto','helvetica', 'arial', 'Droid Sans', sans-serif;
}
pre, code, kbd{
    font: normal 1.0rem 'Roboto','helvetica', 'arial', 'Droid Sans Mono', sans-serif; 
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
}
header{
    width: 100%;
    color:firebrick;
    padding: 5px;
    position: relative;
    
    
}
header:after{
    content: "";
    background-image:url("../img/dogheaderforsteve30.jpg");
    background-size: contain;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index:-1;
    
}
h1{
    font-size: 65px;
    text-shadow: 1px 1px white;
}
h2{
    font-size: 45px;
    padding: 25px;
}
p{
    
}
nav{
    width: 100%;
}
nav>ul{
    width: 100%;
}
nav li{
    width: 100%;
    list-style: none;
    
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    font: bold 1.618rem 'Roboto','helvetica', 'Droid Sans', sans-serif;
    text-align: center;
    padding: 5px;
}
nav a:active,
nav a:focus,
nav a:hover{
    
}
main{
    width: 100%;
    padding: 5px;
}
.col{
    float: none;
    width: 100%;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 5px;
}
footer{
    width: 100%;
    padding: 20px;
    list-style: none;
}
footer ul{
    list-style: none;
    padding: 10px;
}

@media screen and (min-width:600px){          
       .wrapper{
        width: 100%;
        margin: 0 auto;
    }
    header{
        width: 100%;
        color:rebeccapurple;

    }
        h1{
            font-size: 75px;
        }
    h2{
        font-size: 35px;
        padding: 20px;
    }

    .first{
        float: left;         
    }
    

    nav{
        width: 90%;
        display: inline;



    }
    nav>ul{
        width: 100%;

    }
    nav ul li{
        width: 20%;
        list-style: none;
        float: left;
        

    }
    nav a,
    nav a:link,
    nav a:visited{
        display: block;
        font: bold 1.618rem 'Roboto','helvetica', 'Droid Sans', sans-serif;
        text-align: center;
        


    }
    nav a:active,
    nav a:focus,
    nav a:hover{

    }
    main{
        width: 90%;
    }
    .col{
        
        width: 50%;
        padding: 10px;
        float: left;
    }
    .col img{
        width: 60%;
        height: auto;
        max-width: 60%;
        float: left;
    }
    footer{
        width: 90%;
        clear: both;
    }

}
@media screen and (min-width: 800px){
     .wrapper{
        width: 95%;
        margin: 0 auto;
    }
    header{
        width: 100%;
        color:orangered;

    }
        h1{
            font-size: 100px;
        }
    h2{
         font-size: 50px;
    }

    .first{
        float: left;         
    }
    

    nav{
        width: 90%;



    }
    nav>ul{
        width: 100%;


    }
    nav li{
        width: 20%;
        list-style: none;
        float: left;
    }
        
        
        
    nav a,
    nav a:link,
    nav a:visited{
        display: block;
        font: bold 1.618rem 'Roboto','helvetica', 'Droid Sans', sans-serif;
        text-align: center;
        


    }
    nav a:active,
    nav a:focus,
    nav a:hover{

    }
    main{
        width: 90%;
    }
    .col{
        
        width: 50%;
        padding: 10px;
        float: left;
    }
    .col img{
        width: 50%;
        height: auto;
        max-width: 50%;
        float: left;
    }
    footer{
        width: 100%;
        clear: both;
    }

}
@media screen and (min-width: 1200px){
     .wrapper{
        width: 95%;
        margin: 0 auto;
    }
    header{
        width: 100%;
        color:black;

    }
        h1{
            font-size: 110px;
        }

    .first{
        float: left;         
    }
    

    nav{
        width: 30%;
        float: left;
        padding-top: 40px;
        display: block;


    }

    nav li{
        width: 100% !important; 
        list-style: none;
        clear: both;
    }

    nav a,
    nav a:link,
    nav a:visited{
        width: 100%;
        display: block;
        font: bold 2rem 'Roboto','helvetica', 'Droid Sans', sans-serif;
        text-align: center;
        


    }
    nav a:active,
    nav a:focus,
    nav a:hover{

    }
    main{
        width: 70%;
        float:left;
    }
    .col{
        
        width: 50%;
        padding: 10px;
        float: left;
    }
    .col img{
        width: 55%;
        height: auto;
        max-width: 55%;
        float: left;
    }
    footer{
        width: 100%;
        clear: both;
    }

}
    


    


